*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

header{
    background-color:  #FF4D4D;
}

.container{
    max-width: 80%;
    margin: 0 auto;
}

#header-section{
    display: flex;
    justify-content:space-between;
    align-items: center;
    color: #fff;
    padding: 15px 0;
}

nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    color: #fff;
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    text-transform:uppercase;
    font-size: 1.2rem;
}

/* hero section */

#hero